<style type='text/css'>
  .content_tb_header1_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc;*/
  }

  .content_tb_header1_content{
     position: relative;
     float: right;
     right: 5px;
     width: 100%;
     height: 50px;
     /*background-color: #828282;*/
  }

  .content_tb_header2_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc;*/
  }

  .content_tb_header2_content {
     position: relative;
     float: left;
     right: 5px;
     width: 100%;
     height: 0px;
     padding-left: 30px;
     /*background-color: #828282;*/
  }

  .content_tb_content_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc*/
  }

  .content_tb_content_content {
     position: relative;
     float: left;
     right: 5px;
     width: 100%;
     height: 150px;
     /*background-color: #828282*/
  }

  .content_tb_header1_left1 {
     position: relative;
     float: left;
     left: 5px;
     width: 50%;
     /*background-color: #128281;*/
  }
  .content_tb_header1_right {
     position: relative;
     float: right;
     right: 5px;
     width: 50%;
     /*background-color: #128281;*/
     height: 30px;
     padding-top: 15px;
     text-align: right;
  }

  .text_box {
    height: 450px;
  }

  .myfriends {
    padding-left: 0px;
    height: 150px;
    width: 380px;
    overflow: auto;
    border: inset 3px;
    background: white;
  }

  .friendofsomebody {
    padding-left: 0px;
    height: 150px;
    width: 380px;
    overflow: auto;
    border: inset 3px;
    background: white;
  }

  .friendallowed {
    color: black;
  }

  .friendnoallowed {
    color: gray;
  }

  #friends {
     position: relative;
     float: right;
     right: 5px;
     left: 35px;
     width: 100%;
     height: 50px;
  }

  #friends_left {
     position: relative;
     float: left;
     left: 5px;
     width: 50%;
     /*background-color: #128281;*/
  }
  
  #friends_right {
     position: relative;
     float: right;
     right: 5px;
     width: 50%;
     /*background-color: #128281;*/
     height: 30px;
  }

</style>

<script>
  if( document.addEventListener )
    document.addEventListener( 'DOMContentLoaded', cmxform, true);

  function cmxform(){
    // Hide forms
    //$( 'form.cmxform' ).hide().end();

    // Processing
    $( 'form.cmxform' ).find( 'li/label' ).not( '.nocmx' ).each( function( i ){
      var labelContent = this.innerHTML;
      var labelWidth = document.defaultView.getComputedStyle( this, '' ).getPropertyValue( 'width' );
      var labelSpan = document.createElement( 'span' );
          labelSpan.style.display = 'block';
          labelSpan.style.width = labelWidth;
          labelSpan.innerHTML = labelContent;
      this.style.display = '-moz-inline-box';
      this.innerHTML = null;
      this.appendChild( labelSpan );
    } ).end();

  // Show forms
  $( 'form.cmxform' ).show().end();

  $("#user_name").autocomplete({
    source: "/users/publicusers",
    minLength: 2,
    select: function(event, ui) {
      $("#privacy_friend_user2_id").val(ui.item.id);
      $("#button_save").focus();
    }
  });

}
</script>

<script type="text/javascript">
    $(function() {
        $(".demo button:first").button({
            icons: {
                primary: 'ui-icon-arrowreturnthick-1-w'
            },
            text: true
        });
        
        $("#button_save").button({
            icons: {
                primary: 'ui-icon-disk'
            },
            text: true
        });
    });

    $("document").ready(function(){
      $("#button_save").click(
        function (event) {
            $("#form_main").submit();
        }
      );
    });
</script>

          <div class="content_tb_header1_wrapper">
             <div class="content_tb_header1_content">
                <div class="content_tb_header1_left1">
                    <h1>Gestión de Amigos</h1>
                </div> <!-- content_tb_header1_left1 -->
                <div class="content_tb_header1_right demo">
                  <button onclick="document.location.href='<%= user_path(@user) %>'">Cancelar</button>
                </div> <!-- content_tb_header1_right demo -->
             </div> <!-- content_tb_header1_content -->
          </div> <!-- content_tb_header1_wrapper -->

          <div class="content_tb_header2_wrapper">
             <div class="content_tb_header2_content">
             </div> <!-- content_tb_header2_content -->
          </div> <!-- content_tb_header2_wrapper -->

          <div class="content_tb_content_wrapper">
               <div class="content_tb_content_content cmxform demo">

                    <fieldset style="height:350px;">
                      <legend>Buscando amigos</legend>

                      <% form_for(@privacy_friend, :html => { :id =>'form_main', :class => "cmxform"}) do |f| %>

                        <p>
                          <b>Usuario:</b>&nbsp;
                          <%=h @user.name -%>
                          <%= f.hidden_field :user1_id, :value => @user.id %>
                        </p>
                        <p>
                        <div id="new_friend">
                            <b>Nombre Amigo: </b>&nbsp;
                            <%= f.text_field :user2_id, :style => 'display:none;' %>
                            <input id="user_name" name="user_name" type="text" size="40" />
                            <button id="button_save">A&ntilde;adir</button>
                          </div>
                        </p>
                      <% end %>
                        
                      <div id="friends">

                        <div id="friends_left">
                          <p>&nbsp;</p>
                          <p>
                            <h3>Estos amigos me permiten utilizarles en mis partidos:</h3>
                          </p>
                          <ol class="myfriends">
                            <% @friendsofmine.each do |fr| 
                                user1 = User.find(fr.user1_id)
                                user2 = User.find(fr.user2_id)
                            %>
                            <li style="margin-left: 20px;">
                              <ul class="ul-form" style="vertical-align:middle; height: 20px;border-bottom: 1px gray dashed;">
                                <% if fr.allowed==1 %>
                                <li class="li-label friendallowed" style="width: 180px; text-align: left;margin-top: 10px;">
                                  <%=h user2.name %>
                                </li>
                                <li class="li-field" style="width: 160px; text-align: right; margin-top: 5px;">
                                  <a title="Borrar" href="#" onclick="if (confirm('¿Está seguro?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = '/privacy_friends/<%= fr.id %>';var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method');m.setAttribute('value', 'delete'); f.appendChild(m); var at = document.createElement('input'); at.setAttribute('type', 'hidden'); at.setAttribute('name', 'authenticity_token'); at.setAttribute('value', '<%= form_authenticity_token %>'); f.appendChild(at); f.submit(); };return false;">
                                     <img src="/images/icon-delete.png" alt="Borrar" />
                                  </a>
                                </li>
                                <% else %>
                                <li class="li-label friendnoallowed" style="width: 180px; text-align: left;margin-top: 10px;">
                                  <%=h user2.name %>
                                </li>
                                <li class="li-field friendnoallowed" style="width: 160px; text-align: right; margin-top: 10px;">
                                  Pdte. Confirmarme
                                </li>
                                <% end %>
                              </ul>
                            </li>
                            <% end %>
                          </ol>
                        </div>

                        <div id="friends_right">
                          <p>&nbsp;</p>
                          <p>
                            <h3>A estos amigos les permito utilizarme en sus partidos:</h3>
                          </p>

                          <ol class="friendofsomebody">
                            <% @friendofsomeone.each do |fr|
                                user1 = User.find(fr.user1_id)
                                user2 = User.find(fr.user2_id)
                            %>
                            <li style="margin-left: 20px;">
                              <ul class="ul-form" style="vertical-align:middle; height: 20px;border-bottom: 1px gray dashed;">
                                <% if fr.allowed==1 %>
                                <li class="li-label friendallowed" style="width: 180px; text-align:left;margin-top: 10px;">
                                  <%=h user1.name%>
                                </li>
                                <li class="li-field" style="width: 160px; text-align: right; margin-top: 5px;">
                                  <a title="Borrar" href="#" onclick="if (confirm('¿Está seguro?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = '/privacy_friends/<%= fr.id %>';var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method');m.setAttribute('value', 'delete'); f.appendChild(m); var at = document.createElement('input'); at.setAttribute('type', 'hidden'); at.setAttribute('name', 'authenticity_token'); at.setAttribute('value', '<%= form_authenticity_token %>'); f.appendChild(at); f.submit(); };return false;">
                                     <img src="/images/icon-delete.png" alt="Borrar" />
                                  </a>
                                </li>
                                <% else %>
                                <li class="li-label friendnoallowed" style="width: 230px; text-align:left;margin-top: 10px;">
                                  <%=h user1.name %> (Pdte. Confirmarle)
                                </li>
                                <li class="li-field" style="width: 110px; text-align: right; margin-top: 5px;">
                                  <a title="Confirmar" href="#" onclick="if (confirm('¿Está seguro?')) { document.location.href='/privacy_friends/<%= fr.id %>/allow'; };return false;">
                                     <img src="/images/icon-edit.png" alt="Confirmar" />
                                  </a>
                                </li>
                                <% end %>
                              </ul>
                            </li>
                            <% end %>
                          </ol>

                        </div>
                        
                      </div>

                    </fieldset>

                </div> <!-- content_tb_content_content -->
              </div> <!-- content_tb_content_wrapper -->
