<h1>New match_card</h1>

<% form_for(@match_card) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :match %><br />
    <%= f.text_field :match %>
  </p>
  <p>
    <%= f.label :player %><br />
    <%= f.text_field :player %>
  </p>
  <p>
    <%= f.label :hole %><br />
    <%= f.text_field :hole %>
  </p>
  <p>
    <%= f.label :strokes %><br />
    <%= f.text_field :strokes %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', match_cards_path %>