<p>
  <b>Match:</b>
  <%=h @match_card.match %>
</p>

<p>
  <b>Player:</b>
  <%=h @match_card.player %>
</p>

<p>
  <b>Hole:</b>
  <%=h @match_card.hole %>
</p>

<p>
  <b>Strokes:</b>
  <%=h @match_card.strokes %>
</p>


<%= link_to 'Edit', edit_match_card_path(@match_card) %> |
<%= link_to 'Back', match_cards_path %>