<html>
  <body>
    <p>
    Estimado <%= @user.name %>,<br>
    su password ha sido reseteada a <strong><%= @new_password %></strong>
    </p>
    <p>
    Pasos para modificarla deberá seguir los siguientes pasos:<br>
    <ol>
      <li>Entrar a <a href="<%= @url %>">My Golf Card</a> con los datos siguientes:<br>
    usuario: <%= @user.login -%><br>
    password: <%= @new_password -%></li>
      <li>Acceder al cambio de password mediante el acceso directo de la home o dentro de Datos Personales</li>
      <li>Introducir la nueva password que desee y Grabar.</li>
    </ol>
    <p>Gracias por utilizar My Golf Card</p>
  </body>
</html>