<style type="text/css">
  #button_help {
  }

  #internal_text {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
  }

  #internal_text ul {
   list-style-type: none; 
   margin: 0px;
   padding: 0px;
  }

  #internal_text li {
   margin: 0px;
   padding: 0px;
   height: 25px;
  }

  .label-href {
    text-decoration: none;
    cursor: pointer;
  }

  .label-href:visited {
    text-decoration: none;
    cursor: pointer;
  }

  .label-href:hover {
    text-decoration: underline;
    cursor: pointer;
  }

</style>

<script type="text/javascript">
  $(document).ready(function(){
    $("#new_match").button({
      icons: {
          primary: 'ui-icon-document'
      },
      text: true
    });

  });
</script>

            <div id="internal_text">
                <div class="text_box" id="textbox_2_2">
                  <table width="100%">
                    <tr>
                      <td><h2><a href="/matches">PARTIDOS</a></h2></td>
                      <td width="120px;"><button onclick="document.location.href='<%= new_match_path %>'" id="new_match" style="font-size: 12px;">Nuevo Partido</button></td>
                    </tr>
                  </table>
                  <div id="internal_text">
                    <ul>
                      <li>
                        <div id="stats_resume">
                          Nº Partidos : <%= @stats_num_matches %>&nbsp;<a class="masinfo" id="dialog1" href="javascript:;" onclick='$("#matches-dialog1").dialog();' >+ info</a>
                        </div>
                      </li>
                      <li>
                        <div id="stats_resume">
                          Media golpes : <%= @stats_strokes_average %>&nbsp;<a class="masinfo" id="dialog1" href="javascript:;" onclick='$("#matches-dialog2").dialog();' >+ info</a>
                        </div>
                      </li>
                      <li>
                        <div id="stats_resume">
                          Partidos jugados último mes : <%= @stats_last_month %>&nbsp;<a class="masinfo" id="dialog1" href="javascript:;" onclick='$("#matches-dialog3").dialog();' >+ info</a>
                        </div>
                      </li>
                      <li>
                        <div id="stats_resume">
                          Media partidos mes : <%= @stats_month_average %>&nbsp;<a class="masinfo" id="dialog1" href="javascript:;" onclick='$("#matches-dialog4").dialog();' >+ info</a>
                        </div>
                      </li>
                    </ul>
                  </div> <!-- end: internal_text -->
                </div> <!-- end: text-box -->
                <div class="text_box" id="textbox_2_2">
                  <table>
                    <tr>
                      <td>
                        <h2><a href="/users/<%= @user.id %>">DATOS PERSONALES &amp; AMIGOS</a></h2>
                      </td>
                    </tr>
                  </table>
                  <div id="internal_text">
                    <ul>
                      <li>
                        <div id="stats_resume">
                          <a class="label-href" href="/users/<%= @user.id %>/edit">Cambio Password</a>&nbsp;
                        </div>
                      </li>
                      <li>
                        <div id="stats_resume">
                          <a class="label-href" href="/privacy_friends/<%= @user.id %>/new">Amigos</a> :
                          <% if @stats_friends>0 %>
                            <%= @stats_friends %>&nbsp;<a class="masinfo" id="dialog1" href="javascript:;" onclick='$("#friends-dialog1").dialog();' >+ info</a>
                          <% else %>
                            No tiene amigos registrados.&nbsp;<a class="masinfo" id="dialog1" href="javascript:;" onclick='$("#friends-dialog2").dialog();' >+ info</a>
                          <% end %>
                        </div>
                      </li>
                      <li>
                        <div id="stats_resume">
                          <a class="label-href" href="/privacy_friends/<%= @user.id %>/new">Peticiones suyas pdtes. aprobar</a>&nbsp;:&nbsp;<%= @stats_friends_pending_of_me %>&nbsp;<a class="masinfo" id="dialog1" href="javascript:;" onclick='$("#friends-dialog3").dialog();' >+ info</a>
                        </div>
                      </li>
                      <li>
                        <div id="stats_resume">
                          <a class="label-href" href="/privacy_friends/<%= @user.id %>/new">Peticiones a Vd. pdtes. aprobar</a>&nbsp;:&nbsp;<%= @stats_pending_of_any_friends %>&nbsp;<a class="masinfo" id="dialog1" href="javascript:;" onclick='$("#friends-dialog4").dialog();' >+ info</a>
                        </div>
                      </li>
<!--                      <li>
                        <div id="stats_resume">
                          <a class="label-href" href="/users/<%= @user.id %>">Datos Personales</a>&nbsp;<a id="dialog1" href="javascript:;" onclick='$("#friends-dialog5").dialog();' >+ info</a>
                        </div>
                      </li> -->
                    </ul>
                  </div> <!-- end: internal_text -->
                </div> <!-- end: text-box -->
                <div class="text_box" id="textbox_2_2">
                  <table>
                    <tr>
                      <td>
                        <h2>ESTADÍSTICAS</h2>
                      </td>
                    </tr>
                  </table>
                  <div id="internal_text">
                    <ul>
                      <li>
                        <div id="stats_resume">
                          <a class="label-href" href="/charts/pie_courses">Campos jugados</a>
                        </div>
                      </li>
                      <li>
                        <div id="stats_resume">
                          <a class="label-href" href="/charts/regularity_strokes">Regularidad por campo</a>
                        </div>
                      </li>
                      <li>
                        <div id="stats_resume">
                          <a class="label-href" href="/charts/regularity_per_hole">Regularidad por hoyo</a>
                        </div>
                      </li>
                    </ul>
                  </div> <!-- end: internal_text -->
                </div> <!-- end: text-box -->
                <div class="text_box" id="textbox_2_2">
                  <table>
                    <tr>
                      <td>
                        <h2><a href="/courses">CAMPOS</a></h2>
                      </td>
                    </tr>
                  </table>
                  <div id="internal_text">
                    <ul>
                      <li>
                        <div id="stats_resume">
                          Disponibles : <%= @stats_num_courses %>
                        </div>
                      </li>
                      <li>
                        <div id="stats_resume">
                          M&aacute;s jugado : <%= @stats_most_used_course %>&nbsp;<a class="masinfo" id="dialog1" href="javascript:;" onclick='$("#course-dialog1").dialog();' >+ info</a>
                        </div>
                      </li>
                      <li>
                        <div id="stats_resume">
                          &Uacute;ltimo : <%= @stats_last_inserted_course %>&nbsp;<a class="masinfo" id="dialog1" href="javascript:;" onclick='$("#course-dialog2").dialog();' >+ info</a>
                        </div>
                      </li>
                    </ul>
                  </div> <!-- end: internal_text -->
                </div> <!-- end: text-box -->
            </div>  <!-- end: internal_text -->

            <div class="demo">

              <div id="matches-dialog1" style="display:none" title="My Golf Card - Más información">
                <p>Total de partidos que vd. ha introducido en su ficha.</p>
              </div>

              <div id="matches-dialog2" style="display:none" title="My Golf Card - Más información">
                <p>Media de golpes de todos sus partidos introducidos.</p>
                <p>My Golf Card hace una ponderaci&oacute;n de golpes en los partidos de menos en los que se juegan menos de 18 hoyos para ofrecer una estad&iacute;stica lo más ajustada posible.</p>
              </div>

              <div id="matches-dialog3" style="display:none" title="My Golf Card - Más información">
                <p>Número total de partidos jugados el último mes.</p>
              </div>

              <div id="matches-dialog4" style="display:none" title="My Golf Card - Más información">
                <p>Media de partidos jugados al mes con respecto a todos los partidos introducidos.</p>
              </div>


              <div id="friends-dialog1" style="display:none" title="My Golf Card - Más información">
                <p>N&uacute;mero de amigos que puede utilizar en sus partidos.</p>
                <p>Esto significa que cuando registre sus partidos, podrá incluirles en sus partidos adem&aacute;s de a Vd. mismo. </p>
                <p>Haga click en el enlace "Amigos" para acceder directamente a la b&uacute;squeda de sus compañeros.</p>
              </div>

              <div id="friends-dialog2" style="display:none" title="My Golf Card - Más información">
                <p>No tiene amigos registrados como tales.</p>
                <p>Esto significa que cuando registre sus partidos, no podrá incluir en ellos a nadie más que a Vd. mismo. Lo mismo ocurrirá cuando quiera registrar las tarjetas de esos partidos.</p>
                <p>Haga click en el enlace "Amigos" para acceder directamente a la b&uacute;squeda de sus compañeros.</p>
              </div>
              
              <div id="friends-dialog3" style="display:none" title="My Golf Card - Más información">
                <p>Solicitudes que Vd. ha realizado a otros usuarios y todavía no han sido aceptadas.</p>
                <p>Esto significa que cuando registre sus partidos, no podrá incluir todav&iacute;a en ellos a estos usuarios.</p>
                <p>Haga click en el enlace "Amigos" para acceder directamente a la b&uacute;squeda de sus compañeros.</p>
              </div>

              <div id="friends-dialog4" style="display:none" title="My Golf Card - Más información">
                <p>Solicitudes que len han realizado a Vd. y todav&iacute;a no ha aceptado.</p>
                <p>Esto significa que cuando estos usuarios registren sus partidos, no podrá incluirle a Vd.</p>
                <p>Haga click en el enlace "Amigos" para acceder directamente a la b&uacute;squeda de sus compañeros.</p>
              </div>

              <div id="friends-dialog5" style="display:none" title="My Golf Card - Más información">
                <p>Acceso directo a revisar y modificar sus datos personales.</p>
              </div>

              <div id="course-dialog1" style="display:none" title="My Golf Card - Más información">
                <p>Campo en el que más ha jugados según <u>sus</u> partidos registrados en el sistema.</p>
                <p>Tambi&eacute;n se recoge el n&uacute;mero de veces jugado.</p>
              </div>

              <div id="course-dialog2" style="display:none" title="My Golf Card - Más información">
                <p>&Uacute;ltimo campo introducido en el sistema de My Golf Card.</p>
              </div>

            </div> <!-- end: demo -->

