        <script type="text/javascript">
            $(function() {
              $("#button_help2").button({
                  icons: {
                      primary: 'ui-icon-help'
                  },
                  text: false
              });

              $("#button_help2").click(
                function (event) {
                    $("#matches-dialog1").dialog();
                    event.preventDefault();
                }
              );

              $("#hole_id").change(
                function (event) {
                  $("#form_main").submit();
                }
              );

              $("#course_name").autocomplete({
                source: "/courses/findlikebyname",
                minLength: 2,
                select: function(event, ui) {
                  $("#course_id").val(ui.item.id);
                  $.ajax({
                    url: '/holes/getholes',
                    dataType: 'json',
                    data: {course_id: ui.item.id},
                    success:  function(json){
                                LlenarCombo(json, $("#hole_id")[0]);
                              }
                  });
                }
              });

              PosicionarCombo(<%= @hole_number %>,$("#hole_id")[0]);
            });

            function VaciarCombo(combo) {
              while(combo.length > 0){
                combo.remove(combo.length-1);
              }
            };

            function LlenarCombo(json,combo) {
              VaciarCombo(combo);
              combo.options[0] = new Option('Seleccione un hoyo', '');
              for(var i=0;i<json.length;i++){
                combo.options[combo.length] = new Option(json[i].number, json[i].id);
              }
            };

            function PosicionarCombo(value,combo) {
              var i=0;
              var bExit = false;
              while (i<combo.length && !bExit) {
                if (combo.options[i].text == value) {
                  combo.selectedIndex = i;
                  bExit = true;
                }
                else {
                  ++i;
                }
              }
            };
            
        </script>

        <style type='text/css'>
            .content_tb_header1_wrapper {
               position: relative;
               float: left;
               left: 0px;
               width: 100%;
               margin-bottom: 5px;
               /*background-color: #cccccc;*/
            }
            .content_tb_header1_content{
               position: relative;
               float: right;
               right: 5px;
               width: 100%;
               height: 50px;
               /*background-color: #828282;*/
            }
            .content_tb_header2_wrapper {
               position: relative;
               float: left;
               left: 0px;
               width: 100%;
               margin-bottom: 5px;
               /*background-color: #cccccc;*/
            }
            .content_tb_header2_content {
               position: relative;
               float: left;
               right: 5px;
               width: 100%;
               height: 0px;
               padding-left: 30px;
               /*background-color: #828282;*/
            }
            .content_tb_content_wrapper {
               position: relative;
               float: left;
               left: 0px;
               width: 100%;
               margin-bottom: 5px;
               /*background-color: #cccccc*/
            }
            .content_tb_content_content {
               position: relative;
               float: left;
               right: 5px;
               width: 100%;
               height: 150px;
               /*background-color: #828282*/
            }

            .content_tb_header1_left1 {
               position: relative;
               float: left;
               left: 5px;
               width: 50%;
               /*background-color: #128281;*/
            }
            .content_tb_header1_right {
               position: relative;
               float: right;
               right: 5px;
               width: 50%;
               /*background-color: #128281;*/
               height: 30px;
               padding-top: 15px;
               text-align: right;
            }

            .text_box {
              height: 550px;
            }

            #RegularityHoles {
              text-align: left;
              width: 850px;
              border: 3px outset gray;
              margin-left: 0px;
              padding-left: 0px;
            }

            #RegularityHolesDiv {
              text-align: left;
              width: 850px;
              margin-left: 0px;
              padding-left: 0px;
            }

        </style>

                      <% form_tag('/charts/regularity_per_hole', :id => 'form_main') do  %>
                        <%= label "course", "id", "Campo:" %>
                        <%= text_field :course, :id, :value => @course_id, :size => 3, :maxlength => 2, :style => "display:none;" %>
                        <input title="Introduzca algunos caracteres para empezar la búsqueda" id="course_name" name="course_name" type="text" size="40" value="<%= @course_name %>" />&nbsp;&nbsp;
                        <%= label "hole", "id", "Hoyo:" %>
                        <%= select "hole", "id", @holes.collect {|h| [h.number, h.id]}, :selected => "5" %>
                        <button id="button_help2" class="demo">Ayuda</button>
                        <button id="button_filter">Filtrar</button>
                      <% end %>

                      <p>&nbsp;</p>
                      <p>&nbsp;</p>

                      <%
                      #In this example, we show how to connect FusionCharts to a database.
                      #For the sake of ease, we've used a database which contains two tables, which are linked to each
                      #other.
                      # The xml is obtained as a string from builder template.
                      str_xml = render "calculate_regularity_per_hole.builder",{:regularity_data => @regularity_data, :subCaption => @course_name + ' - ' + @hole_number.to_s() + ' hole'}

                      #Create the chart - Pie 3D Chart with data from strXML
                      render_chart '/chart/FCF_Line.swf', '', str_xml, 'RegularityHoles', 850, 350, false, false do-%>
                      <% end-%>

                      <div class="demo">

                        <div id="matches-dialog1" style="display:none" title="My Golf Card - Más información">
                          <p>Escriba algunos caracteres y el sistema buscará el nombre de los campos que tengan como parte de su nombre el texto que vaya introduciendo.
                            <br>Una vez localizado el que desee, selecci&oacute;nelo haciendo <i>click</i> con el ratón sobre &eacute;l o con el cursor.
                          </p>
                        </div>

                      </div>

