<h1>Listing match_players</h1>

<table>
  <tr>
    <th>Match</th>
    <th>Player</th>
    <th>Tee</th>
  </tr>

<% @match_players.each do |match_player| %>
  <tr>
    <td><%=h match_player.match %></td>
    <td><%=h match_player.player %></td>
    <td><%=h match_player.tee %></td>
    <td><%= link_to 'Show', match_player %></td>
    <td><%= link_to 'Edit', edit_match_player_path(match_player) %></td>
    <td><%= link_to 'Destroy', match_player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New match_player', new_match_player_path %>