<p>
  <b>Match:</b>
  <%=h @match_player.match %>
</p>

<p>
  <b>Player:</b>
  <%=h @match_player.player %>
</p>

<p>
  <b>Tee:</b>
  <%=h @match_player.tee %>
</p>


<%= link_to 'Edit', edit_match_player_path(@match_player) %> |
<%= link_to 'Back', match_players_path %>