<h1>New tee</h1>

<% form_for(@tee) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :barras %><br />
    <%= f.text_field :barras %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tees_path %>