<p>
  <b>Match:</b>
  <%= h Match.find(params[:match_id]).course.name %> - <%= h Match.find(params[:match_id]).date_hour_match %>
</p>

<p>
  <b>User:</b>
  <%=h @player.user.name %>
</p>

<p>
  <b>Tee:</b>
  <%=h @player.tee.barras %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>