<script type="text/javascript">
  $(function() {
    $("button, input:submit, a", ".ui-form").button();

    $("a", ".ui-form").click(function() { return true; });
  });
</script>


<style>
  #course_select {
    position: relative;
    top: -10px;
    margin-left:50px;
    font-size: 13px;
  }
</style>


<h1>Partidos</h1>
<div id="course_select">
  <div class="ui-widget">
    <label>Campo: </label>
    <select>
      <option value="0" selected>Todos</option>
      <%
        @courses.each do |course|
      %>
          <option value="<%= course.id %>"><%= course.name %></option>
      <%
        end
      %>
    </select>
  </div>
</div>

<div class="ui-form">

  <a href="matches">Todos</a>
  <a href="matches/lastmatches">10 Últimos</a>
  <a href="matches/bestmatches">10 Mejores</a>
  <a href="matches/lastmonth">Último Mes</a>
  <a href="#">Personalizado</a>

</div> <!-- end: ui-form -->

<div>
    <table width="98%" id="result">
        <tr>
            <th width="30%">Campo</th>
            <th width="20%">Fecha / Hora</th>
            <th width="10%">Hoyos</th>
            <th width="20%">Jugadores</th>
            <th width="20%" colspan="3">&nbsp;</th>
        </tr>

      <%= will_paginate @matches %>
      <% @matches.each do |match| %>
        <tr>
          <td>(<%= match.id %>)<%=h match.course.name %></td>
          <td><%=h format_date(match.date_hour_match) %></td>
          <td><%=h match.holes %></td>
          <td><a id="dialog<%=  match.id %>" href="javascript:;" onclick='$("#dialog-modal<%=  match.id %>").dialog();' ><%= match.players.count  %>  Jugadores</a></td>
          <td><%= link_to 'Detalle', match %></td>
          <td><%= link_to 'Modificar', edit_match_path(match) %></td>
          <td><%= link_to 'Borrar', match, :confirm => '¿Está seguro?', :method => :delete %></td>
        </tr>
      <% end %>
  </table>
</div>

<br />

<%= link_to 'Nuevo Partido', new_match_path %>

<!-- DIVs con nombres de Jugadres para capas de +info -->

<% @matches.each do |match|
    players = match.players %>
<div id="dialog-modal<%=  match.id %>" style="display:none" title="<%= players.count %> Jugadores">
  <p>
  <% players.each do |player| %>
    <%= player.user.name %><BR>
  <% end %>
  </p>
</div>
<% end %>
