<style type='text/css'>
  .thumb_view_nav {
    display: none;
    width:100%;
    height:0px;
    margin:0px;
    padding:0px;
  }

  .content_tb_header1_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc;*/
  }
  .content_tb_header1_content{
     position: relative;
     float: right;
     right: 5px;
     width: 100%;
     height: 50px;
     /*background-color: #828282;*/
  }
  .content_tb_header2_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc;*/
  }
  .content_tb_header2_content {
     position: relative;
     float: right;
     right: 5px;
     width: 100%;
     height: 30px;
     padding-left: 30px;
     /*background-color: #828282;*/
  }
  .content_tb_content_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc*/
  }
  .content_tb_content_content {
     position: relative;
     float: left;
     right: 5px;
     width: 100%;
     height: 150px;
     padding-top: 20px;
     /*background-color: #828282*/
  }

  .content_tb_header1_left1 {
     position: relative;
     float: left;
     left: 5px;
     width: 50%;
     /*background-color: #128281;*/
  }

  .content_tb_header1_right {
     position: relative;
     float: right;
     right: 5px;
     width: 50%;
     /*background-color: #128281;*/
     height: 30px;
     padding-top: 5px;
     text-align: right;
  }

  .content_tb_header2_left1 {
     position: relative;
     float: left;
     left: 5px;
     width: 50%;
     /*background-color: #128281;*/
  }

  .content_tb_header2_right {
     position: relative;
     float: right;
     right: 5px;
     width: 50%;
     /*background-color: #128281;*/
     height: 30px;
     padding-top: 0px;
     text-align: right;
  }

  .content_tb_header2_right a {
    margin-top: -40px;
    margin-left: 150px;
  }

  .text_box {
    height: 450px;
  }

  .oper.demo {
    text-align: center;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    height: 0px;
  }

  #gview_list_matches {
    font-size: 13px;
  }

  #list_matches {
    font-size: 13px;
    padding-left: 3px;
  }

  thead th {
    background-color:#524123;
    border-bottom:2px solid #3D3019;
    border-top:3px solid #6E572E;
    color:#FFFFFF;
    font-size:14px;
    padding:0;
  }

  input {
    font-size: 10px;
    background-image: url(../images/sbbody-r_g.gif) no-repeat bottom right;
  }
</style>

<script>
  $(document).ready(function(){

    $('#load-webbies a.button').click(function(e) {
      $.get( $(this).attr('href'), function(data) {
        $('.webbies').quicksand( $(data).find('li'), {adjustHeight: 'dynamic'} );
      });
      e.preventDefault();
    });

    function log(message) {
            $("#find_courses_value").attr("value",message);
    }

    $("#find_courses").autocomplete({
            source: "/courses/findlikebyname",
            minLength: 2,
            select: function(event, ui) {
                    log(ui.item ? ("" + ui.item.id) : "-" + this.value);
            }
    });

    $(".content_tb_header1_right.demo button:first").button({
      icons: {
          primary: 'ui-icon-document'
      },
      text: true
    });

    $("#del_filter").button({
      icons: {
          primary: 'ui-icon-trash'
      },
      text: true
    });

    $("#apply_filter").button({
      icons: {
          primary: 'ui-icon-search'
      },
      text: true
    });

    jQuery("#list_matches").jqGrid({
      url:'/matches/<%= @userID %>/<%= @audit_action %>.xml?q=1&find_courses_value=<%= @course_filter %>',
      datatype: "xml",
      height: 250,
      width: 920,
      colNames:['Id','Campo','Fecha/Hora', 'Hoyos', 'Jugadores', 'Action'],
      colModel:[  
                  {name:'match_id',index:'match_id', width:20, hidden:true},
                  {name:'course',index:'course', width:370},
                  {name:'date_hour_match',index:'date_hour_match', align:"center", width:200},
                  {name:'holes',index:'holes', align:"center", width:90},
                  {name:'players',index:'players', align:"center", width:140},
                  {name:'act',index:'act', width:100,sortable:false} ],
      rowNum:10,
      rowList:[10,20,30,50],
      pager: '#pager_matches',
      sortname: 'date_hour_match',
      viewrecords: true,
      sortorder: "desc",
      multiselect: false,
      subGrid : true,
      subGridUrl: 'players.xml?q=2',
      subGridModel: [{  name : ['Jugador','Handicap','Tee','Golpes 1º','Golpes 2º','Golpes Totales'],
                        width : [300,80,80,80,80,80],
                        align : ['left','center','center','center','center','center']
                      }],
      gridComplete: function() {
                      var ids = jQuery("#list_matches").jqGrid('getDataIDs');
                      for(var i=0;i < ids.length;i++) {
                        var cl = ids[i];
                        ed = "<a href='#' onclick=\"document.location.href='/matches/" + cl + "/edit'\"><img src='../images/icon-edit.png' border='0'></a>";
                        dl = "<a href='#' onclick=\"\"><img src='../images/icon-delete.png' border='0'></a>";
                        se = "<a href='#' onclick=\"document.location.href='/matches/" + cl + "'\"><img src='../images/icon-search.png' border='0'></a>";
                        ca = "<a href='#' onclick=\"document.location.href='/matches/" + cl + "/print'\"><img src='../images/icon-card.png' border='0'></a>";
                        jQuery("#list_matches").jqGrid('setRowData',ids[i],{act:se+ed+dl+ca});
                      }
                    }
    });
    //jQuery("#list_matches").jqGrid('navGrid',"#pages_matches",{edit:false,add:false,del:false});

    $("#radio").buttonset();
    
});
</script>

<style>
  #div_demo button {
    background-color:#369D47;
    border:1px solid #1D5C2A;
    color:#FFFFFF;
    font-weight:bold;
    -moz-border-radius:6px 6px 6px 6px;
    font-size: 10px;
    cursor: pointer;
  }
</style>
          <div class="content_tb_header1_wrapper">
             <div class="content_tb_header1_content">
                <div class="content_tb_header1_left1">
                  <h1>Partidos Jugados</h1>
                </div> <!-- content_tb_header1_left1 -->
                <div class="content_tb_header1_right demo">
                  <button onclick="document.location.href='<%= new_match_path %>'">Nuevo</button>
                </div> <!-- content_tb_header1_right demo -->
             </div> <!-- content_tb_header1_content -->
          </div> <!-- content_tb_header1_wrapper -->

          <form id="filter_form" name="filter_form" action="<%=  matches_path %>">
            
            <div class="content_tb_header2_wrapper">
              <div class="content_tb_header2_content">
                <div class="content_tb_header2_left1">
                  <div class="ui-form demo">

                    <div class="demo">
                      <label for="find_courses">Ver sólo Campo: </label>
                      <input size="30" type="text" name="find_courses" value="<%= @course_filter_name %>" id="find_courses" />
                      <input type="hidden" name="find_courses_value" value="<%= @course_filter %>" id="find_courses_value" />
                      <button id="del_filter" onclick="$('#find_courses').attr('value','');$('#find_courses_value').attr('value','');$('#filter_form').attr('action',$('#filter_form input:radio:checked').val()).submit();">Sin Filtro</button>
                      <button id="apply_filter" onclick="$('#filter_form').attr('action',$('#filter_form input:radio:checked').val()).submit();">Buscar</button>
                    </div>

                  </div>
                </div> <!-- course_select content_tb_header2_left1 -->
                <div class="content_tb_header2_right">

                  <div class="ui-form demo">

                    <div class="ui-widget" id="radio">
                      <input type="radio" value="/matches" id="radio1" name="radio" onclick="$('#filter_form').attr('action',$('#filter_form input:radio:checked').val()).submit();" <%= @checked['index'] %> /><label for="radio1">Todos</label>
                      <input type="radio" value="/matches/lastmatches" id="radio2" name="radio" onclick="$('#filter_form').attr('action',$('#filter_form input:radio:checked').val()).submit();" <%= @checked['last_matches'] %> /><label for="radio2">10 &Uacute;ltimos</label>
                      <input type="radio" value="/matches/bestmatches" id="radio3" name="radio" onclick="$('#filter_form').attr('action',$('#filter_form input:radio:checked').val()).submit();" <%= @checked['best_matches'] %> /><label for="radio3">10 Mejores</label>
                      <input type="radio" value="/matches/lastmonth" id="radio4" name="radio" onclick="$('#filter_form').attr('action',$('#filter_form input:radio:checked').val()).submit();" <%= @checked['last_month'] %> /><label for="radio4">&Uacute;ltimo mes</label>
                      <input type="radio" value="5" id="radio5" name="radio" onclick="alert('Esta opción está actualmente deshabilitada. Disculpe las molestias.');" /><label for="radio5">Personalizado</label>
                    </div>

                  </div> <!-- end: ui-form -->
                </div> <!-- content_tb_header2_right -->
              </div> <!-- content_tb_header2_content -->
            </div> <!-- content_tb_header2_wrapper -->

          </form>

          <div class="content_tb_content_wrapper">
            <div class="content_tb_content_content">

              <div> <!-- jqgrid -->
                <table id="list_matches"></table>
                <div id="pager_matches"></div>
              </div> <!-- jqgrid -->

           </div> <!-- content_tb_content_content -->
          </div> <!-- content_tb_content_wrapper -->


