<h1>Listing matches - <%= @title %> </h1>

<table>
  <tr>
  	<th>Course</th>
	<th>Date</th>
	<th>Holes</th>
	<th colspan="3">&nbsp;</th>
  </tr>

<%= will_paginate @matches %>
<% @matches.each do |match| %>
  <tr>
  	<td><%=h match.course.name %></td>
	<td><%=h match.date_hour_match %></td>
	<td><%=h match.holes %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Delete', match, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New match', new_match_path %>