<style>
  form.cmxform fieldset {
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
  }
  form.cmxform legend {
    padding: 0 2px;
    margin-left: -10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 16px;
  }
  form.cmxform label {
    display: inline-block;
    /*line-height: 1.0;*/
    vertical-align: top;
    font-weight: normal;
  }
  form.cmxform input {
    display: inline-block;
    line-height: 1.0;
    vertical-align: top;
  }
  form.cmxform fieldset ol {
    margin: 0;
    padding: 0;
  }
  form.cmxform fieldset li {
    list-style: none;
    padding: 0px;
    margin-bottom: 10px;
  }
  form.cmxform fieldset fieldset {
    border: none;
    margin: 3px 0 0;
  }
  form.cmxform fieldset fieldset legend {
    padding: 0 0 5px;
    font-weight: normal;
  }
  form.cmxform fieldset fieldset label {
    display: block;
    width: auto;
  }
  form.cmxform em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
  }
  form.cmxform label {
    width: 130px; /* Width of labels */
  }
  form.cmxform fieldset fieldset label {
    margin-left: 123px; /* Width plus 3 (html space) */
  }

  .li-label {
    display: inline-block;
    width: 130px;
  }

  .li-field {
    display: inline-block;
  }

  .pair-form {
    width: 290px;
    display: inline-block;
  }

  .ul-form {
    margin-left: 0px;
    padding-left: 0px;
    white-space: nowrap;
    list-style-type: none;
    /*padding-bottom: 10px;
    width: 150px;*/
  }
</style>

<script>
  if( document.addEventListener )
    document.addEventListener( 'DOMContentLoaded', cmxform, true);

  function cmxform(){
    // Hide forms
    //$( 'form.cmxform' ).hide().end();

    // Processing
    $( 'form.cmxform' ).find( 'li/label' ).not( '.nocmx' ).each( function( i ){
      var labelContent = this.innerHTML;
      var labelWidth = document.defaultView.getComputedStyle( this, '' ).getPropertyValue( 'width' );
      var labelSpan = document.createElement( 'span' );
          labelSpan.style.display = 'block';
          labelSpan.style.width = labelWidth;
          labelSpan.innerHTML = labelContent;
      this.style.display = '-moz-inline-box';
      this.innerHTML = null;
      this.appendChild( labelSpan );
    } ).end();

  // Show forms
  $( 'form.cmxform' ).show().end();
}
</script>

<h1>Modificaci&oacute;n de Datos del Campo</h1>

<% form_for(@course, :html => { :class => "cmxform"}) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Datos principales</legend>
    <ol>
      <li>
        <%= f.label "Nombre:<em>*</em>" %>
        <%= f.text_field :name, :size => 80, :maxlength => 255 %>
      </li>
      <li>
        <%= f.label "Dirección:" %>
        <%= f.text_field :address, :size => 80, :maxlength => 255 %>
      </li>
      <li>
        <%= f.label "Handicap:" %>
        <%= f.text_field :handicap, :size => 5, :maxlength => 2 %>
        <%= f.label "N holes:" %>
        <%= f.text_field :n_holes, :size => 5, :maxlength => 2 %>
      </li>
      <li>
        <%= f.label "Resumen:" %>
        <%= f.text_area :short_description, :maxlength => 250, :cols => 80, :rows => 4 %>
      </li>
      <li>
        <%= f.label "Descripción:" %>
        <%= f.text_area :long_description, :maxlenght => 1000, :cols => 80, :rows => 5 %>
      </li>
      <li>
        <%= f.label "Disponible:" %>
        <%= f.check_box :enabled %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Características campo</legend>
    <ol>
      <li class="row-form">
        <ul class="ul-form">
          <div class="pair-form">
            <li class="li-label">
                <%= f.label "Blancas:" %>
            </li>
            <li class="li-field">
                <%= f.text_field :length_white, :size => 4, :maxlength => 4 %>
            </li>
          </div>
          <div class="pair-form">
            <li class="li-label">
                <%= f.label "Amarillas:" %>
            </li>
            <li class="li-field">
                <%= f.text_field :length_yellow, :size => 4, :maxlength => 4 %>
            </li>
          </div>
          <div class="pair-form">
            <li class="li-label">
                <%= f.label "Rojas:" %>
            </li>
            <li class="li-field">
                <%= f.text_field :length_red, :size => 4, :maxlength => 4 %>
            </li>
          </div>
        </ul>
      </li>
      <li class="row-form">
        <ul class="ul-form">
          <div class="pair-form">
            <li class="li-label">
                <%= f.label "Fundado en:<br>(año)" %>
            </li>
            <li class="li-field">
                <%= f.text_field :founded, :size => 4, :maxlength => 4 %>
            </li>
          </div>
          <div class="pair-form">
            <li class="li-label">
                <%= f.label "Diseñador:" %>
            </li>
            <li class="li-field">
                <%= f.text_field :designer, :size => 15, :maxlength => 100 %>
            </li>
          </div>
          <div class="pair-form">
            <li class="li-label">
                <%= f.label "Tipo de <br>Campo:" %>
            </li>
            <li class="li-field">
                <%= f.select(:course_type_id,@coursetypes) %>
            </li>
          </div>
        </ul>
      </li>
      <li class="row-form">
        <ul class="ul-form">
          <div class="pair-form">
            <li class="li-label">
                <%= f.label "Habilidad:" %>
            </li>
            <li class="li-field">
                <%= f.text_field :ability_recommended, :size => 2, :maxlength => 2 %>
            </li>
          </div>
          <div class="pair-form">
            <li class="li-label">
                <%= f.label "Mantenimiento:" %>
            </li>
            <li class="li-field">
                <%= f.text_field :maintance, :size => 2, :maxlength => 2 %>
            </li>
          </div>
          <div class="pair-form">
            <li class="li-label">
                <%= f.label "Relieve:" %>
            </li>
            <li class="li-field">
              <%= f.text_field :relief, :size => 2, :maxlength => 2 %>
            </li>
          </div>
          </ul>
      </li>
      <li class="row-form">
        <ul class="ul-form">
          <div class="pair-form">
            <li class="li-label">
              <%= f.label "Viento:" %>
            </li>
            <li class="li-field">
              <%= f.text_field :wind, :size => 2, :maxlength => 2 %>
            </li>
          </div>
          <div class="pair-form">
            <li class="li-label">
              <%= f.label "Agua en Juego:" %>
            </li>
            <li class="li-field">
              <%= f.text_field :water_in_play, :size => 2, :maxlength => 2 %>
            </li>
          </div>
          <div class="pair-form">
            <li class="li-label">
              <%= f.label "Arboles en Juego:" %>
            </li>
            <li class="li-field">
              <%= f.text_field :trees_in_play, :size => 2, :maxlength => 2 %>
            </li>
          </div>
        </ul>
      </li>
    </ol>
  </fieldset>
  <%= f.submit 'Update' %>

<% end %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>