<style type='text/css'>
  .thumb_view_nav {
    display: none;
    width:100%;
    height:0px;
    margin:0px;
    padding:0px;
  }

  .content_tb_header1_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc;*/
  }
  .content_tb_header1_content{
     position: relative;
     float: right;
     right: 5px;
     width: 100%;
     height: 50px;
     /*background-color: #828282;*/
  }
  .content_tb_header2_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc;*/
  }
  .content_tb_header2_content {
     position: relative;
     float: right;
     right: 5px;
     width: 100%;
     height: 30px;
     padding-left: 30px;
     /*background-color: #828282;*/
  }
  .content_tb_content_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc*/
  }
  .content_tb_content_content {
     position: relative;
     float: left;
     right: 5px;
     width: 100%;
     height: 150px;
     /*background-color: #828282*/
  }

  .content_tb_header1_left1 {
     position: relative;
     float: left;
     left: 5px;
     width: 50%;
     /*background-color: #128281;*/
  }

  .content_tb_header1_right {
     position: relative;
     float: right;
     right: 5px;
     width: 50%;
     /*background-color: #128281;*/
     height: 30px;
     padding-top: 15px;
     text-align: right;
  }

  .content_tb_header2_left1 {
     position: relative;
     float: left;
     left: 5px;
     width: 50%;
     /*background-color: #128281;*/
  }

  .content_tb_header2_right {
     position: relative;
     float: right;
     right: 5px;
     width: 50%;
     /*background-color: #128281;*/
     height: 30px;
     padding-top: 15px;

  }

  .content_tb_header2_right a {
    margin-top: -40px;
    margin-left: 150px;
  }

  .text_box {
    height: 600px;
  }
</style>

<script>

  $(document).ready(function(){

    var $filterCity = $('#filter input[name="city"]');
    var $filterCourse = $('#filter input[name="course"]');

    $("a.switch_thumb").toggle(function(){
      $(this).addClass("swap");
      $("ul.display").fadeOut("fast", function() {
        $(this).fadeIn("fast").removeClass("thumb_view").addClass("list_view");
      });
    }, function () {
      $(this).removeClass("swap");
      $("ul.display").fadeOut("fast", function() {
        $(this).fadeIn("fast").addClass("thumb_view").removeClass("list_view");
      });
    });

    $filterCity.keyup(function(){
      var filter = $filterCity.val();
      $('#filter input[name="course"]').val("");
      $(".gallery:first li").each(function () {
        var attrib = $(this).attr("city-id");
        var pos = attrib.search(new RegExp(filter,"i"));
        if (pos<0) {
          $(this).addClass("hidden");
        }
        else {
          $(this).removeClass("hidden");
        }
      });
    });

    $filterCourse.keyup(function(){
        var filter = $filterCourse.val();
        $('#filter input[name="city"]').val("");
        $(".gallery:first li").each(function () {
          var attrib = $(this).attr("course-id");
          var pos = attrib.search(new RegExp(filter,"i"));
          if (pos<0) {
            $(this).addClass("hidden");
          }
          else {
            $(this).removeClass("hidden");
          }
        });
      }
    );

    $('#load-webbies a.button').click(function(e) {
      $.get( $(this).attr('href'), function(data) {
        $('.webbies').quicksand( $(data).find('li'), {adjustHeight: 'dynamic'} );
      });
      e.preventDefault();
    });

    $(".demo button:first").button({
      icons: {
          primary: 'ui-icon-document'
      },
      text: true
    });

    $(".thumb_view_nav #edit").button({
      icons: {
          primary: 'ui-icon-search'
      },
      text:false
    });

    $(".thumb_view_nav #del").button({
      icons: {
          primary: 'ui-icon-trash'
      },
      text:false
    }) ;

    $(".thumb_view li").hover(function (e) {
      $(".thumb_view_nav").hide();
      var x = $(this).find("div.thumb_view_nav");
      x.show();
      e.preventDefault();
    },function (e) {
      $(".thumb_view_nav").hide();
      e.preventDefault();
    });


});

</script>

          <div class="content_tb_header1_wrapper">
             <div class="content_tb_header1_content">
                <div class="content_tb_header1_left1">
                    <h1>Campos Disponibles</h1>
                </div> <!-- content_tb_header1_left1 -->
                <div class="content_tb_header1_right demo">
                  <button onclick="document.location.href='<%= new_course_path %>'">Nuevo</button>
                </div> <!-- content_tb_header1_right demo -->
             </div> <!-- content_tb_header1_content -->
          </div> <!-- content_tb_header1_wrapper -->

          <div class="content_tb_header2_wrapper">
            <div class="content_tb_header2_content">
              <div id="course_select content_tb_header2_left1">
                  <div class="ui-widget" id="load-webbies">
                    <form id="filter">
                      <label class="li-label-column">Localidad:&nbsp;</label>
                      <input id="city" name="city" type="text" value="">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label class="li-label-column">Campo:&nbsp;</label>
                      <input id="course" name="course" type="text" value="">
                      &nbsp;&nbsp;&nbsp;
                    </form>
                  </div>
              </div> <!-- course_select content_tb_header2_left1 -->
              <div class="content_tb_header2_right">
                <a href="#" class="switch_thumb">Switch Thumb</a>
              </div> <!-- content_tb_header2_right -->
            </div> <!-- content_tb_header2_content -->
          </div> <!-- content_tb_header2_wrapper -->

          <div class="content_tb_content_wrapper">
               <div class="content_tb_content_content">

                    <div class="gallery">
                        <table width="100%" cellpadding="0" cellspacing="0" id="tb1" border="1">
                            <tr >
                                <td>
                                    <ul class="display thumb_view">
                                      <% @courses.each do |course| %>
                                        <li id="course_<%= course.id %>" course-id="<%= course.name %>" city-id="<%= course.address %>">
                                          <div id="course_<%= course.id %>" class="thumb_view_nav demo" style="padding:0px;z-index:-1">
                                            <button id="edit" onclick="document.location.href='<%= edit_course_path(course.id) %>'">Modificar</button>
                                            <button id="del" onclick="if (confirm('¿Está seguro?')) { var f = document.createElement('form');f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = '<%= course_path(course.id)  %> ';var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method');m.setAttribute('value', 'delete'); f.appendChild(m);f.submit(); };return false;">Borrar</button>
                                          </div>
                                          <div class="content_block">
                                            <div class="content_block_image">
                                              <a href="/courses/<%= course.id %>"><img width="140" height="100" src="<%= course_image_default(course) -%>" alt="" /></a>
                                            </div>
                                            <div class="content_block_text">
                                              <h2><a href="/courses/<%= course.id %>"><%=h course.name -%></a></h2>
<!--                                              <h3>&nbsp;(&nbsp;<%=h course.address -%>&nbsp;)&nbsp;</h3> -->
                                              <p><%= course.long_description  %></p> 
                                            </div>
                                          </div>
                                        </li>
                                        <% end %>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div> <!-- gallery -->

                    <p>
                      Si no encuentra un campo y desea que esté disponible en My Golf Card, por favor, env&iacute;e una solicitud es  <a id="dialog1" href="javascript:;" onclick='$("#dialog-contact").dialog();' >este formulario</a>. Gracias por su colaboraci&oacute;n;
                    </p>

                    <div class="demo">

                      <div id="dialog-contact" style="display:none" title="My Golf Card - Más información">
                        <%= render :partial => 'layouts/contact' %>
                      </div>

                    </div>


                 </div> <!-- content_tb_content_content -->
              </div> <!-- content_tb_content_wrapper -->

