<script>
    $(document).ready(function(){

        $("a.switch_thumb").toggle(function(){
            $(this).addClass("swap");
            $("ul.display").fadeOut("fast", function() {
                $(this).fadeIn("fast").addClass("thumb_view");
            });
        }, function () {
            $(this).removeClass("swap");
            $("ul.display").fadeOut("fast", function() {
                $(this).fadeIn("fast").removeClass("thumb_view");
            });
        });

        $("button, input:submit, a", ".ui-form").button();

        $("a", ".ui-form").click(function() { return true; });
    });
</script>

<h1>Campos disponibles</h1>
<%= link_to 'Nuevo Campo', new_course_path %>

                    <div id="course_select">
                        <div class="ui-widget">
                            <label>Localidad:&nbsp;</label>
                            <input id="city" type="text" value="">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label>Campo:&nbsp;</label>
                            <input id="course" type="text" value="">

                            <a href="#" class="switch_thumb">Switch Thumb</a>

                        </div>
                    </div>
                    <div  class="gallery">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr >
                                <td >
                                    <ul class="display" >
                                      <% @courses.each do |course| %>
                                        <li>
                                            <div class="content_block">
                                                <a href="/courses/<%= course.id %>"><img width="140" height="100" src="images/golf_03.gif" alt="" /></a>
                                                <h2><a href="/courses/<%= course.id %>"><%=h course.name %></a></h2>
                                                <p><%= course.long_description  %> </p>
                                            </div>
                                        </li>
                                        <% end %>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>

