<style type='text/css'>

    .content_tb_header1_wrapper {
       position: relative;
       float: left;
       left: 0px;
       width: 100%;
       margin-bottom: 5px;
       /*background-color: #cccccc;*/
    }
    .content_tb_header1_content{
       position: relative;
       float: right;
       right: 5px;
       width: 100%;
       height: 50px;
       /*background-color: #828282;*/
    }
    .content_tb_header2_wrapper {
       position: relative;
       float: left;
       left: 0px;
       width: 100%;
       margin-bottom: 5px;
       /*background-color: #cccccc;*/
    }
    .content_tb_header2_content {
       position: relative;
       float: left;
       right: 5px;
       width: 100%;
       height: 0px;
       padding-left: 30px;
       /*background-color: #828282;*/
    }
    .content_tb_content_wrapper {
       position: relative;
       float: left;
       left: 0px;
       width: 100%;
       margin-bottom: 5px;
       /*background-color: #cccccc*/
    }
    .content_tb_content_content {
       position: relative;
       float: left;
       right: 5px;
       width: 100%;
       height: 150px;
       /*background-color: #828282*/
    }

    .content_tb_header1_left1 {
       position: relative;
       float: left;
       left: 5px;
       width: 50%;
       /*background-color: #128281;*/
    }
    .content_tb_header1_right {
       position: relative;
       float: right;
       right: 5px;
       width: 50%;
       /*background-color: #128281;*/
       height: 30px;
       padding-top: 15px;
       text-align: right;
    }

    .text_box {
      height: 500px;
    }
</style>

<style>
  .column_right {
    position: relative;
    top: -218px;
    left: 622px;
    width: 290px;
  }

  /**
   * Overwrite for having a carousel with dynamic width.
   */
  .jcarousel-skin-tango .jcarousel-container-horizontal {
      width: 798px;
  }

  .jcarousel-skin-tango .jcarousel-clip-horizontal {
      width: 100%;
  }

</style>

<script>

  tb_pathToImage = "/images/loading-thickbox.gif";

</script>

<script type="text/javascript">
    $(function() {
          $(".demo button:first").button({
            icons: {
                primary: 'ui-icon-document'
            },
            text: true
        }).next().button({
            icons: {
                primary: 'ui-icon-script'
            },
            text: true
        }).next().button({
            icons: {
                primary: 'ui-icon-pencil'
            },
            text: true
        }).next().button({
            icons: {
                primary: 'ui-icon-trash'
            },
            text: true
        }).next().button({
            icons: {
                primary: 'ui-icon-image'
            },
            text: true
        });

        var progress_key = '4c62c2cd67217';
        $("#pb_ability").progressBar(<%= @course.ability_recommended %>, {max:10, showText:false, textFormat: 'fraction', barImage: {0:  '/images/progressbg_green.gif', 4: '/images/progressbg_orange.gif', 7: '/images/progressbg_red.gif'}});
        $("#pb_maintance").progressBar(<%= @course.maintance %>, {max:10, showText:false, textFormat: 'fraction', barImage: {0:  '/images/progressbg_green.gif', 4: '/images/progressbg_orange.gif', 7: '/images/progressbg_red.gif'}});
        $("#pb_relief").progressBar(<%= @course.relief %>, {max:10, showText:false, textFormat: 'fraction', barImage: {0:  '/images/progressbg_green.gif', 4: '/images/progressbg_orange.gif', 7: '/images/progressbg_red.gif'}});
        $("#pb_wind").progressBar(<%= @course.wind %>, {max:10, showText:false, textFormat: 'fraction', barImage: {0:  '/images/progressbg_green.gif', 4: '/images/progressbg_orange.gif', 7: '/images/progressbg_red.gif'}});
        $("#pb_water").progressBar(<%= @course.water_in_play %>, {max:10, showText:false, textFormat: 'fraction', barImage: {0:  '/images/progressbg_green.gif', 4: '/images/progressbg_orange.gif', 7: '/images/progressbg_red.gif'}});
        $("#pb_trees").progressBar(<%= @course.trees_in_play %>, {max:10, showText:false, textFormat: 'fraction', barImage: {0:  '/images/progressbg_green.gif', 4: '/images/progressbg_orange.gif', 7: '/images/progressbg_red.gif'}});
        $("#uploadprogressbar").progressBar();

    });
</script>

          <div class="content_tb_header1_wrapper">
             <div class="content_tb_header1_content">
                <div class="content_tb_header1_left1">
                    <h1>Detalle del Campo</h1>
                </div> <!-- content_tb_header1_left1 -->
                <div class="content_tb_header1_right demo">
                  <button onclick="document.location.href='<%= new_course_path %>'">Nuevo</button>
                  <button onclick="document.location.href='<%= courses_path %>'">Listado</button>
                  <button onclick="document.location.href='<%= edit_course_path(@course) %>'">Modificar</button>
                  <button onclick="if (confirm('¿Está seguro?')) { var f = document.createElement('form');f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = '<%= course_path(@course)  %> ';var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method');m.setAttribute('value', 'delete'); f.appendChild(m);f.submit(); };return false;">Borrar</button>
                  <button onclick="document.location.href='#images'">Im&aacute;genes</button>
                </div> <!-- content_tb_header1_right demo -->
             </div> <!-- content_tb_header1_content -->
          </div> <!-- content_tb_header1_wrapper -->

          <div class="content_tb_header2_wrapper">
             <div class="content_tb_header2_content">
             </div> <!-- content_tb_header2_content -->
          </div> <!-- content_tb_header2_wrapper -->

          <div class="content_tb_content_wrapper">
               <div class="content_tb_content_content">
  
                  <div class="cmxform">
                    <fieldset style="height: 230px;padding-top:15px;">
                      <legend>Datos del campo</legend>
                      <ol>
                        <li class="row-form">
                          <ul class="ul-form">
                            <li class="li-label">
                              <label>Nombre:</label>
                            </li>
                            <li class="li-field">
                              <%=h @course.name %>
                            </li>
                          </ul>
                        </li>
                        <li class="row-form">
                          <ul class="ul-form">
                            <li class="li-label">
                              <label>Dirección:</label>
                            </li>
                            <li class="wrap-field">
                              <%=h @course.address %>
                            </li>
                          </ul>
                        </li>
                        <!--
                        <li class="row-form">
                          <ul class="ul-form">
                            <li class="li-label">
                              <label>Resumen:</label>
                            </li>
                            <li class="wrap-field">
                              <%=h @course.short_description %>
                            </li>
                          </ul>
                        </li>
                        -->
                        <li class="row-form">
                          <ul class="ul-form">
                            <li class="li-label">
                              <label>Descripci&oacute;n:</label>
                            </li>
                            <li class="wrap-field">
                              <%=h @course.long_description %>
                            </li>
                          </ul>
                        </li>
                        <li class="row-form">
                          <ul class="ul-form">
                            <div class="pair-form">
                              <li class="li-label">
                                <label>Par:</label>
                              </li>
                              <li class="li-field-column">
                                <%=h @course.handicap %>
                              </li>
                            </div>
                            <div class="pair-form">
                              <li class="li-label">
                                <label>N. Hoyos:</label>
                              </li>
                              <li class="li-field-column">
                                <%=h @course.n_holes %>
                              </li>
                            </div>
                          </ul>
                        </li>
                        <li class="row-form">
                          <ul class="ul-form">
                            <div class="pair-form">
                              <li class="li-label">
                                <label>Long. Amarillas:</label>
                              </li>
                              <li class="li-field-column">
                                <%=h @course.length_yellow %>
                              </li>
                            </div>
                            <div class="pair-form">
                              <li class="li-label">
                                <label>Long. Rojas:</label>
                              </li>
                              <li class="li-field-column">
                                <%=h @course.length_red %>
                              </li>
                            </div>
                            <div class="pair-form">
                              <li class="li-label">
                                <label>Long. Blancas:</label>
                              </li>
                              <li class="li-field-column">
                                <%=h @course.length_white %>                                
                              </li>
                            </div>
                          </ul>
                        </li>
                      </ol>

                      <div class="column_right">
                        <div id="accordion">
                          <h3><a href="#">Datos adicionales Campo</a></h3>
                          <div>
                            <ul class="ul-accordion" style="margin-top:-10px;line-height: 1.5;">
                              <li class="row-form">
                                <label class="label-accordion">Año Fundaci&oacute;n:</label>&nbsp;<%= @course.founded -%>
                              </li>
                              <li class="row-form">
                                <label class="label-accordion">Diseñador:</label>&nbsp;<%= @course.designer -%>
                              </li>
                              <li class="row-form">
                                <label class="label-accordion">Tipo de Campo:</label>&nbsp;<%= @course.course_type.description -%>
                              </li>
                              <li class="row-form">
                                <label class="label-accordion tip" title="<strong>Habilidad</strong>:<br><i>nivel</i> recomendado en una escala del 1 al 10">Habilidad:</label>&nbsp;<span class="progressBar" id="pb_ability" title="<%= @course.ability_recommended.to_s + '/10' %>">%= @course.ability_recommended %>/10</span>
                              </li>
                              <li class="row-form">
                                <label class="label-accordion tip" title="<strong>Mantenimiento</strong>:<br>Puntuación de 1 a 10 del mantenimiento del campo">Mantenimiento:</label>&nbsp;<span class="progressBar" id="pb_maintance" title="<%= @course.maintance.to_s + '/10' %>"><%= @course.maintance %>/10</span>
                              </li>
                              <li class="row-form">
                                <label class="label-accordion tip" title="<strong>Relieve</strong>:<br>Importancia del relieve (desniveles, etc) en el campo en una escala del 1 al 10">Relieve:</label>&nbsp;<span class="progressBar" id="pb_relief" title="<%= @course.relief.to_s + '/10' %>"><%= @course.relief %>/10</span>
                              </li>
                              <li class="row-form">
                                <label class="label-accordion tip" title="<strong>Viento</strong>:<br>Relevancia del viento en el juego en una escala del 1 al 10">Viento:</label>&nbsp;<span class="progressBar" id="pb_wind" title="<%= @course.wind.to_s + '/10' %>"><%= @course.wind %>/10</span>
                              </li>
                              <li class="row-form">
                                <label class="label-accordion tip" title="<strong>Agua</strong>:<br>Relevancia de obstáculos de agua en el campo en una escala del 1 al 10">Agua:</label>&nbsp;<span class="progressBar" id="pb_water" title="<%= @course.water_in_play.to_s + '/10' %>"><%= @course.water_in_play %>/10</span>
                              </li>
                              <li class="row-form">
                                <label class="label-accordion tip" title="<strong>Árboles</strong>:<br>Relevancia de los árboles del campo sobre el juego en una escala del 1 al 10">&Aacute;rboles:</label>&nbsp;<span class="progressBar" id="pb_trees" title="<%= @course.trees_in_play.to_s + '/10' %>"><%= @course.trees_in_play %>/10</span>
                              </li>
                            </ul>
                          </div>
                          <h3><a href="#">Mapa Google</a></h3>
                          <div id="map">

                          </div> <!-- map -->
                        </div> <!-- END div accordion -->
                      </div> <!-- END div column_right -->

                    </fieldset>
                  </div> <!-- end div class:cmxform -->

                  <a name="images"></a>
                  <div class="cmxform"> <!-- Galería de Imágenes -->
                      <fieldset>
                          <legend>Galer&iacute;a de Im&aacute;genes</legend>
                          <ul id="mycarousel" class="jcarousel-skin-tango" >
                            <%
                              @course_images.each do |image|
                            %>
                            <li>
                                <a class="thickbox" href="<%= image.fullName -%>" title="<%= image.title -%>" rel="gallery-course"><img src="<%= image.fullName -%>" width="75" height="75" alt="<%= image.title -%>" /></a>
                            </li>
                            <% end %>
                          </ul>
                      </fieldset>
                  </div> <!-- end Galería de Imágenes -->

                  
                </div> <!-- content_tb_content_content -->
              </div> <!-- content_tb_content_wrapper -->
