<style type='text/css'>
    .content_tb_header1_wrapper {
       position: relative;
       float: left;
       left: 0px;
       width: 100%;
       margin-bottom: 5px;
       /*background-color: #cccccc;*/
    }
    .content_tb_header1_content{
       position: relative;
       float: right;
       right: 5px;
       width: 100%;
       height: 50px;
       /*background-color: #828282;*/
    }
    .content_tb_header2_wrapper {
       position: relative;
       float: left;
       left: 0px;
       width: 100%;
       margin-bottom: 5px;
       /*background-color: #cccccc;*/
    }
    .content_tb_header2_content {
       position: relative;
       float: left;
       right: 5px;
       width: 100%;
       height: 0px;
       padding-left: 30px;
       /*background-color: #828282;*/
    }
    .content_tb_content_wrapper {
       position: relative;
       float: left;
       left: 0px;
       width: 100%;
       margin-bottom: 5px;
       /*background-color: #cccccc*/
    }
    .content_tb_content_content {
       position: relative;
       float: left;
       right: 5px;
       width: 100%;
       height: 150px;
       /*background-color: #828282*/
    }

    .content_tb_header1_left1 {
       position: relative;
       float: left;
       left: 5px;
       width: 50%;
       /*background-color: #128281;*/
    }
    .content_tb_header1_right {
       position: relative;
       float: right;
       right: 5px;
       width: 50%;
       /*background-color: #128281;*/
       height: 30px;
       padding-top: 15px;
       text-align: right;
    }

    .text_box {
      height: 500px;
    }
</style>

<style>
  .column_right {
    position: relative;
    top: -418px;
    left: 662px;
    width: 250px;
  }

  /**
   * Overwrite for having a carousel with dynamic width.
   */
  .jcarousel-skin-tango .jcarousel-container-horizontal {
      width: 798px;
  }

  .jcarousel-skin-tango .jcarousel-clip-horizontal {
      width: 100%;
  }

</style>

<script>

  tb_pathToImage = "/images/loading-thickbox.gif";

  function mycarousel_itemLoadCallback(carousel, state)
  {
      // Check if the requested items already exist
      if (carousel.has(carousel.first, carousel.last)) {
          return;
      }

      jQuery.get(
          '/courses/<%= @course.id %>/images',
          {
              first: carousel.first,
              last: carousel.last
          },
          function(xml) {
              mycarousel_itemAddCallback(carousel, carousel.first, carousel.last, xml);
          },
          'xml'
      );
  };

  function mycarousel_itemAddCallback(carousel, first, last, xml)
  {
      // Set the size of the carousel
      carousel.size(parseInt(jQuery('total', xml).text()));

      jQuery('image', xml).each(function(i) {
          var item = jQuery(mycarousel_getItemHTML(jQuery(this))).get(0);
          tb_init(item);
          //carousel.add(first + i, mycarousel_getItemHTML(jQuery(this).text(),jQuery(this).attr('title')));
          carousel.add(first + i, item);
      });

  };

  /**
   * Item html creation helper.
   */
  function mycarousel_getItemHTML(elem)
  {
      var url = elem.text();
      var title = elem.attr('title');
      return '<a href="' + url + '" title="' + title + '" rel="gallery-course"><img src="' + url + '" width="75" height="75" alt="' + title + '" /></a>';
  };

</script>

<script type="text/javascript">
	$(function() {
          $(".demo button:first").button({
            icons: {
                primary: 'ui-icon-document'
            },
            text: true
        }).next().button({
            icons: {
                primary: 'ui-icon-script'
            },
            text: true
        }).next().button({
            icons: {
                primary: 'ui-icon-pencil'
            },
            text: true
        }).next().button({
            icons: {
                primary: 'ui-icon-trash'
            },
            text: true
        }).next().button({
            icons: {
                primary: 'ui-icon-image'
            },
            text: true
        });
    });
</script>

          <div class="content_tb_header1_wrapper">
             <div class="content_tb_header1_content">
                <div class="content_tb_header1_left1">
                    <h1>Detalle del Campo</h1>
                </div> <!-- content_tb_header1_left1 -->
                <div class="content_tb_header1_right demo">
                  <button onclick="document.location.href='<%= new_course_path %>'">Nuevo</button>
                  <button onclick="document.location.href='<%= courses_path %>'">Listado</button>
                  <button onclick="document.location.href='<%= edit_course_path(@course) %>'">Editar</button>
                  <button onclick="if (confirm('Are you sure?')) { var f = document.createElement('form');f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = '<%= course_path(@course)  %> ';var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method');m.setAttribute('value', 'delete'); f.appendChild(m);f.submit(); };return false;">Borrar</button>
                  <button onclick="document.location.href='#images'">Im&aacute;genes</button>
                </div> <!-- content_tb_header1_right demo -->
             </div> <!-- content_tb_header1_content -->
          </div> <!-- content_tb_header1_wrapper -->

          <div class="content_tb_header2_wrapper">
             <div class="content_tb_header2_content">
             </div> <!-- content_tb_header2_content -->
          </div> <!-- content_tb_header2_wrapper -->

          <div class="content_tb_content_wrapper">
               <div class="content_tb_content_content">
  
                  <div class="cmxform">
                    <fieldset style="height: 230px;padding-top:15px;">
                      <legend>Datos del campo</legend>
                      <ol>
                        <li class="row-form">
                          <ul class="ul-form">
                            <li class="li-label">
                              <label>Nombre:</label>
                            </li>
                            <li class="li-field">
                              <%=h @course.name %>
                            </li>
                          </ul>
                        </li>
                        <li class="row-form">
                          <ul class="ul-form">
                            <li class="li-label">
                              <label>Dirección:</label>
                            </li>
                            <li class="wrap-field">
                              <%=h @course.address %>
                            </li>
                          </ul>
                        </li>
                        <!--
                        <li class="row-form">
                          <ul class="ul-form">
                            <li class="li-label">
                              <label>Resumen:</label>
                            </li>
                            <li class="wrap-field">
                              <%=h @course.short_description %>
                            </li>
                          </ul>
                        </li>
                        -->
                        <li class="row-form">
                          <ul class="ul-form">
                            <li class="li-label">
                              <label>Descripci&oacute;n:</label>
                            </li>
                            <li class="wrap-field">
                              <%=h @course.long_description %>
                            </li>
                          </ul>
                        </li>
                        <li class="row-form">
                          <ul class="ul-form">
                            <div class="pair-form">
                              <li class="li-label">
                                <label>Par:</label>
                              </li>
                              <li class="li-field-column">
                                <%=h @course.handicap %>
                              </li>
                            </div>
                            <div class="pair-form">
                              <li class="li-label">
                                <label>N. Hoyos:</label>
                              </li>
                              <li class="li-field-column">
                                <%=h @course.n_holes %>
                              </li>
                            </div>
                          </ul>
                        </li>
                        <li class="row-form">
                          <ul class="ul-form">
                            <div class="pair-form">
                              <li class="li-label">
                                <label>Long. Amarillas:</label>
                              </li>
                              <li class="li-field-column">
                                <%=h @course.length_yellow %>
                              </li>
                            </div>
                            <div class="pair-form">
                              <li class="li-label">
                                <label>Long. Rojas:</label>
                              </li>
                              <li class="li-field-column">
                                <%=h @course.length_red %>
                              </li>
                            </div>
                            <div class="pair-form">
                              <li class="li-label">
                                <label>Long. Blancas:</label>
                              </li>
                              <li class="li-field-column">
                                <%=h @course.length_white %>
                              </li>
                            </div>
                          </ul>
                        </li>
                      </ol>
                    </fieldset>
                  </div> <!-- end div class:cmxform -->

                  <div class="cmxform"> <!-- Galería de Imágenes -->
                      <fieldset>
                          <a name="images"><legend>Galer&iacute;a de Im&aacute;genes</legend></a>
                          <ul id="mycarousel" class="jcarousel-skin-tango">
                            <!-- The content will be dynamically loaded in here -->
                          </ul>
                      </fieldset>
                  </div> <!-- end Galería de Imágenes -->

                  <div class="column_right">
                    <div id="accordion">
                      <h3><a href="#">Datos adicionales Campo</a></h3>
                      <div>
                        <ul class="ul-accordion" style="margin-top:-10px;line-height: 1.5;">

                          <li class="row-form">
                            <label class="label-accordion">Fundado en (año):</label>
                            <%= @course.founded %>
                          </li>
                          <li class="row-form">
                            <label class="label-accordion">Diseñador:</label>
                            <%= @course.designer %>
                          </li>
                          <li class="row-form">
                            <label class="label-accordion">Tipo de Campo:</label>
                            <%= @course.course_type.description %>
                          </li>
                          <li class="row-form">
                            <label class="label-accordion">Habilidad:</label>
                            <%= @course.ability_recommended %>/10
                          </li>
                          <li class="row-form">
                            <label class="label-accordion">Mantenimiento:</label>
                            <%= @course.maintance %>/10
                          </li>
                          <li class="row-form">
                            <label class="label-accordion">Relieve:</label>
                            <%= @course.relief %>/10
                          </li>
                          <li class="row-form">
                            <label class="label-accordion">Viento:</label>
                            <%= @course.wind %>/10
                          </li>

                          <li class="row-form">
                            <label class="label-accordion">Agua:</label>
                            <%= @course.water_in_play %>/10
                          </li>
                          <li class="row-form">
                            <label class="label-accordion">&Aacute;rboles:</label>
                            <%= @course.trees_in_play %>/10
                          </li>
                        </ul>

                      </div>
                      <h3><a href="#">Mapa Google</a></h3>
                      <div id="map">

                      </div> <!-- map -->
                    </div> <!-- END div accordion -->
                  </div> <!-- END div column_right -->
                  
                </div> <!-- content_tb_content_content -->
              </div> <!-- content_tb_content_wrapper -->
