                  <% form_for(@card, :html => { :id =>'form_main', :class => "cmxform"}) do |f| %>
                    <%= f.error_messages %>

                    <fieldset style="padding-top:15px;">
                      <legend>Datos del Partido</legend>
                        <%= render :partial => 'matches/info_match_graph' %>
                    </fieldset>

                    <div style="display: none">
                        <p>
                          <%= f.label :Match %><br />
                          <%= f.select(:match_id,@matches) %>
                        </p>

                        <p>
                          <%= f.label :Player %><br />
                          <%= f.select(:player_id,@players) %>
                        </p>

                        <p>
                          <%= f.label "Total Strokes" %><br />
                          <%= f.label @card.strokes_total %>
                        </p>

                        <p>
                          <%= f.label "First 9 Holes" %><br />
                          <%= f.label @card.strokes_first_9 %>
                        </p>

                        <p>
                          <%= f.label "Second 9 Holes" %><br />
                          <%= f.label @card.strokes_second_9 %>
                        </p>
                    </div>
  
                    <fieldset>
                      <legend>Tarjeta/Golpes</legend>

                      <p></p>
                      <table border="1" cellpadding="0" cellspacing="0" class="card">
                        <tr>
                          <th width="250px">HOYOS (cards/_card)</th>
                          <% @holes.each do |hole| %>
                            <% if hole.number==10 then %>
                                <th width="40px">1ยบ 9</th>
                            <% end %>
                            <th width="30px"><%= hole.number %></th>
                          <% end %>
                          <th width="40px">2ยบ 9</th>
                          <th width="40px">Tot.</th>
                        </tr>
                        <tr class="card_info">
                          <td class="card_info_leyend">(rojas)&nbsp;<BR>(amarillas)&nbsp;<BR>(azules)&nbsp;<BR>(blancas)&nbsp;<BR>PAR&nbsp;<BR>HANDICAP&nbsp;</td>
                          <% @holes.each do |hole| %>
                      <% if hole.number==10 then %>
                          <td>&nbsp;</td>
                      <% end %>
                          <td>
                            <%= render :partial => 'layouts/hole_info', :locals => {:hole => hole}%>
                          </td>
                          <% end %>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>

                        <% player = @card.player %>
                        <tr class="card_player">
                          <td class="card_player_name"><%= player.user.name %> (HCP: <%= format_nil(player.handicap,'-') -%>)</td>
                          <%  hole_number=1
                              f.fields_for :card_strokes do |detail_form|

                              if hole_number>1 then %>
                                </td>
                          <%  end
                              if hole_number==10 then %>
                                <td class="card_player_info_total" >
                                    <input id="strokes_1_9" class="stroke_total" maxlength="2" size="1" type="text" value="0" />
                                    <!--<input id="putts_1_9"   class="stroke_total" disabled maxlength="2" size="1" type="text" value="-" /><br>-->
                                </td>
                          <%  end %>
                            <td class="card_player_info" >
                              <%= render :partial => 'edit_card', :locals => {:detail_form => detail_form, :hole_number => hole_number} %>
                          <%    hole_number += 1
                              end %>
                            </td>

                            <td class="card_player_info" >
                                <input id="strokes_2_9" class="stroke_total" maxlength="2" size="1" type="text" value="0" />
                                <!--<input id="putts_2_9"   class="stroke_total" disabled maxlength="2" size="1" type="text" value="-" /><br>-->
                            </td>

                            <td class="card_player_info" >
                                <input id="strokes_total" class="stroke_total" maxlength="2" size="1" type="text" value="0" />
                                <!--<input id="putts_total"   class="stroke_total" disabled maxlength="2" size="1" type="text" value="-" /><br>-->
                            </td>

                        </tr>

                      </table>
                      <p></p>

                    </fieldset>

                      <% end %>
