<% form_for(@card) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Match %><br />
    <%= f.select(:match_id,@matches) %>
  </p>
  
  <p>
    <%= f.label :Player %><br />
    <%= f.select(:player_id,@players) %>
  </p>

  <p>
    <%= f.label "Total Strokes" %><br />
    <%= f.label @card.strokes_total %>
  </p>

  <p>
    <%= f.label "First 9 Holes" %><br />
    <%= f.label @card.strokes_first_9 %>
  </p>

  <p>
    <%= f.label "Second 9 Holes" %><br />
    <%= f.label @card.strokes_second_9  %>
  </p>

  <h3>Strokes/Putts</h3>
  
   <ul>
  <% #@holes.each do |hole| %>
    <% f.fields_for :card_strokes do |detail_form| %>
      <%= render :partial => 'card_stroke', :locals => {:detail_form => detail_form} %>
    <% end %>
  <% #end %>
  </ul>

  <p>
    <%= f.submit 'Save Card' %>
  </p>
<% end %>