<h1>Show Card</h1>

<p>
  <b>Player:</b>
  <%=h @card.player.user.name %>
</p>

<p>
  <b>Match:</b>
  <%=h @card.match.course.name %>
</p>

<p>
  <b>Total Strokes:</b>
  <%=h @card.strokes_total %>
</p>

<p>
  <b>9st Strokes:</b>
  <%=h @card.strokes_first_9 %>
</p>

<p>
  <b>9nd Strokes:</b>
  <%=h @card.strokes_second_9 %>
</p>


<%= link_to 'View Card', print_card_path(@card) %> |
<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>