<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
    <title>My Golf Card</title>
    <%= stylesheet_link_tag 'golf_main' %>
    <%= stylesheet_link_tag 'south-street/jquery-ui-1.8rc3.custom.css' %>
    <%= javascript_include_tag 'jquery-1.4.2.min.js' %>
    <%= javascript_include_tag 'jquery-ui-1.8rc3.custom.min.js' %>

</head>

<body id="page_home">
    <div id="wrapper">
        <div id="header">
            <div id="branding">
                <h1>My Golf Card</h1>
                <h2>Tarjetas y Puntuaciones</h2>
            </div> <!-- end: branding -->
        </div> <!-- end: header -->

        <div id="navigation_main">
          <div id="buscador">
          </div>  <!-- end: buscador -->
        </div>  <!-- end: navigation -->

        <div id="content_wrapper">
            <div id="main_content">
                <div class="text_box">
                    <h2>My Golf Card</h2>
                    <div id="internal_text" class="presentation">

                      <%= yield %>
                      
                    </div> <!-- end: internal_text -->
                </div> <!-- end: text-box -->
            </div>  <!-- end: main_content -->
        </div>  <!-- end: content_wrapper -->

        <div id="footer">
          <p>&copy 2010 Eladio Ruiz</p>
        </div>  <!-- end: pie -->

    </div> <!-- end: wrapper -->

<! -- GOOGLE ANALYTICS -->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-13252939-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>

</body>
</html>
