<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
    <meta name="keywords" content="golf, card, tarjeta, online, on-line, gratis, free, golpes, strokes, handicap, campos de golf, golf courses, estadísticas, gráficos, partido de golf, score, marcador" />
    <meta name="description" content="mygolfcard es una aplicación inline gratuíta que le permite almacenar las tarjetas de sus partidos online, con la posibilidad de recuperarlas en cualquier momento y lugar a través de una conexión a internet. Con mygolfcard podrá introducir las tarjetas también de sus compañeros de partido y obtener toda una colección de grafícos y estadísticas que le permitirán analizar su juego a través de todas sus tarjetas." />
    <title>My Golf Card</title>

    <%= stylesheet_link_tag 'mygolfcard' %>
    <%= stylesheet_link_tag 'skin' %>
    <%= stylesheet_link_tag 'south-street/jquery-ui-1.8rc3.custom.css' %>
    
    <%= javascript_include_tag 'jquery-1.4.2.min' %>
    <%= javascript_include_tag 'jquery.easing.min' %>
    <%= javascript_include_tag 'jquery.jcarousel.min' %>
    <%= javascript_include_tag 'jquery-ui-1.8rc3.custom.min' %>
    <%= javascript_include_tag 'jquery.kwicks-1.5.1' %>
    <%= javascript_include_tag 'match_helpers' %>
    <%= javascript_include_tag 'FusionCharts'%>

<%
    if @audit_controller=='courses' and @audit_action=='show'
%>
    <!-- ESPECIFICO SHOW COURSES -->
    <%= stylesheet_link_tag 'thickbox' %>
    <%= javascript_include_tag 'thickbox'%>
    <!-- ESPECIFICO SHOW COURSES -->
<%
    end
%>

    <%
    if @audit_controller=='matches'
%>
    <!-- ESPECIFICO MATCHES -->
    <%= stylesheet_link_tag 'ui.jqgrid.css' %>
    <%= javascript_include_tag 'grid.locale-sp.js'%>
    <%= javascript_include_tag 'jquery.jqGrid.min.js'%>
    <!-- ESPECIFICO MATCHES -->
<%
    end
%>

    <script>
    // Place your application-specific JavaScript functions and classes here
    // This file is automatically included by javascript_include_tag :defaults
    $(document).ready(function(){

        /* MOVIMIENTO MENúS
        $('.kwicks').kwicks({
            min : 110,
            spacing : 10
        }); */  

<%
  if @audit_controller=='matches' and (@audit_action=='new' or @audit_action=='edit')
%>
        $(".remove")
        .click(MatchHelper.onRemovePlayer);

        $("form p a.add_player")
        .click(MatchHelper.onAddPlayer);
/*
        $("a.remove")
        .click(MatchHelper.onRemovePlayer);
*/
        $("#button_add")
        .click(MatchHelper.onAddPlayer);

<%
  end

  if @audit_controller=='courses' and @audit_action=='show'
%>
        $('#mycarousel').jcarousel({
          visible: 8,
          // Uncomment the following option if you want items
          // which are outside the visible range to be removed
          // from the DOM.
          // Useful for carousels with MANY items.

          itemVisibleOutCallback: {onAfterAnimation: function(carousel, item, i, state, evt) { carousel.remove(i); }},
          itemLoadCallback: mycarousel_itemLoadCallback
        });

        $(function() {
            $("#accordion").accordion({
                    collapsible: true,
                    active: false
            });
	});


<%
  end

  if @audit_controller=='cards' and (@audit_action=='edit' or @audit_action=='new') then
%>

        /* Mueve el cursor al siguiente elemento para introducir los datos de golpes rápidamente */
        $(".stroke_edit").keyup(function(event) {
           if (event.keyCode>=48 && event.keyCode<=57) {
               if ($(this).val().length>0) {
                    var strokes = parseInt($(this).val());
                    if (isNaN(strokes)) {
                        $(this).attr("value") = "0";
                    }
                    else {
                        if (strokes>1) {
                            if ($(this).attr("id")=='card_card_strokes_attributes_8_strokes') {
                                var next_strokes = $("#card_card_strokes_attributes_9_strokes")
                            }
                            else if ($(this).attr("id")=='card_card_strokes_attributes_17_strokes') {
                                var next_strokes = $("#button_save")
                            }
                            else {
                                var next_strokes = $(this).parent().next(".card_player_info").children(".stroke_edit");
                            }
                            next_strokes.focus().select();
                        }
                    }
               }
               recalculate();
           }
        });

        $(".stroke_edit").blur(function() {
            if ($(this).val().length==0) {
                alert("Este campo no puede estar vacío.");
                $(this).focus().select();
            }
        });


        /* Mueve el cursor al siguiente elemento para introducir los datos de putts rápidamente */
        $(".putt_edit").keyup(function(event) {
           if (event.keyCode>=48 && event.keyCode<=57) {
               if ($(this).val().length>0) {
                    var putts = parseInt($(this).val());
                    if (isNaN(putts)) {
                        $(this).attr("value") = "0";
                    }
                    else {
                        if (putts>=0) {
                            if ($(this).attr("id")=='card_card_strokes_attributes_8_putts') {
                                var next_putts = $("#card_card_strokes_attributes_9_putts")
                            }
                            else if ($(this).attr("id")=='card_card_strokes_attributes_17_putts') {
                                var next_putts = $("#button_save")
                            }
                            else {
                                var next_putts = $(this).parent().next(".card_player_info").children(".putt_edit");
                            }
                            next_putts.focus().select();
                        }
                    }
               }
               recalculate();
           }
        });

        $(".stroke_edit").blur(function() {
            if ($(this).val().length==0) {
                alert("Este campo no puede estar vacío.");
                $(this).focus().select();
            }
        });

        function recalculate() {
            var sum_1 = 0;
            var sum_2 = 0;
            var sum_t = 0;
            var i = 0;

            $(".stroke_edit").each (function() {
                                        i=i+1;
                                        if (i<=9) {
                                            sum_1 = sum_1 + parseInt($(this).val());
                                        }
                                        if (i>9) {
                                            sum_2 = sum_2 + parseInt($(this).val());
                                        }
                                        sum_t = sum_t + parseInt($(this).val());
                                    });

            $("#strokes_1_9").val(sum_1.toString());
            $("#strokes_2_9").val(sum_2.toString());
            $("#strokes_total").val(sum_t.toString());
        }

        recalculate();

<% end %>

    });
    </script>

<%
    if @audit_controller=='courses' and @audit_action=='show'
%>
      <%=  GMap.header %>
      <%=  @course_map.to_html unless @course_map.blank? %>
<%
    end
%>

<script type="text/javascript">
    $(function() {
        $("#button_help").button({
            icons: {
                primary: 'ui-icon-help'
            },
            text: false
        });

        $("#button_help").click(function () {
          window.open('/microsites/ayuda');
        });
    });
</script>


</head>

    <body>
        <div class="wrapper">
            <div class="header">
                <div class="wrapper_header">
                    <% if @audit_controller!='microsites' %>
                    <div class="header_header">
                        &nbsp;<p>¿Necesita ayuda para empezar a utilizar My Golf Card?&nbsp;<button title="Ayuda" id="button_help" onclick="">Ayuda</button></p>
                    </div>
                    <% end %>
                    <div class="wrapbranding">
                        <div class="branding">
                            <h1><a href="/">My Golf Card</a><span class="beta"><a id="dialog1" href="javascript:;" onclick='$("#beta-modal1").dialog();'>BETA</a></span></h1>
                            <h2>Tarjetas y Puntuaciones</h2>

                              <div class="demo">
                                <div id="beta-modal1" style="display:none" title="My Golf Card - ¿Por qu&eacute; BETA?">
                                  <p><strong>¿Por qu&eacute; BETA?</strong><br>La raz&oacute;n por la que denominamos BETA a esta versión de My Golf Card es que, aunque estamos convencidos de que le va a resultar tremendamente &uacute;til, todav&iacute;a no tiene todas las funcionalidades que tenemos pensadas para ella.</p>
                                  <p><strong>Y entonces, ¿por qu&eacute; está ya online?</strong><br>Esta ser&iacute;a la siguiente pregunta l&oacute;gica, ¿no es cierto? Pues porque queremos que empiece a introducir cuanto antes sus partidos, sus tarjetas, sus amigos. Esta es la informaci&oacute;n b&aacute;sica para My Golf Card y cualquier funcionalidad posterior se basará en esta información.</p>
                                  <p>Entonces pensamos, <strong>¿vamos a hacerles esperar unos meses m&aacute;s a que todo est&eacute; acabado?</strong> No, preferimos que Vd. empiece a familiarizarse, utilizar y disfrutar de My Golf Card mientras nosotros pulimos, mejoramos y ampliamos nuestra idea inicial.
                                  </p>
                                </div>
                              </div>
                            
                        </div>
                    </div>
                    <div class="user_info">
                      <% if @audit_controller!='microsites' %>
                      <div id="user">
                        <%= @user_name %> (HCP : <%= format_handicap(@user_handicap) %>)
                        <!--<br><%= @audit_controller + ' - ' + @audit_action + ' - ' + @action_allowed.to_s %>-->
                      </div>
                      <div id="logout">
                        <a href="/logout" alt="Logout"><img src="/images/logout.gif" border="0" alt="Logout" /></a>                        
                      </div>
                      <% end %>
                    </div> <!-- end: user_info -->
                    <div class="footer_header">
                        &nbsp;
                    </div>
                </div>
            </div>