<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
    <title>My Golf Card</title>
  <%= stylesheet_link_tag 'golf_main' %>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'match_helpers' %>
</head>
<body id="page_home">
    <div id="wrapper">
        <div id="header">
            <div id="branding">
                <h1><a href="home.html">My Golf Card</a></h1>
                <h2>Tarjetas y Puntuaciones</h2>
            </div> <!-- end: branding -->
            <div id="user_info">
              <div id="user">
                <%= @name_user %> HCP: <%= @handicap %>
              </div>
              <div id="logout">
                <a href="logout"><img src="../images/logout.gif" /></a>
              </div>
            </div>
        </div> <!-- end: header -->

        <div id="navigation_main">
          <p><%= flash[:notice] %></p>
        </div>  <!-- end: navigation -->

        <div id="content_wrapper">
            <div id="main_content">
              <%= yield %>
            </div>  <!-- end: main_content -->
        </div>  <!-- end: content_wrapper -->

        <div id="footer">
          <p>&copy 2010 Eladio Ruiz</p>
        </div>  <!-- end: pie -->

    </div> <!-- end: wrapper -->
</body>
</html>
