<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
    <meta name="keywords" content="golf, card, tarjeta, online, on-line, gratis, free, golpes, strokes, handicap, campos de golf, golf courses, estadísticas, gráficos, partido de golf, score, marcador" />
    <meta name="description" content="mygolfcard es una aplicación inline gratuíta que le permite almacenar las tarjetas de sus partidos online, con la posibilidad de recuperarlas en cualquier momento y lugar a través de una conexión a internet. Con mygolfcard podrá introducir las tarjetas también de sus compañeros de partido y obtener toda una colección de grafícos y estadísticas que le permitirán analizar su juego a través de todas sus tarjetas." />

    <title>My Golf Card - Software Tarjetas de Golf On-line</title>
    <%= stylesheet_link_tag 'mygolfcard' %>
    <%= stylesheet_link_tag 'south-street/jquery-ui-1.8rc3.custom.css' %>
    <%= javascript_include_tag 'jquery-1.4.2.min.js' %>
    <%= javascript_include_tag 'jquery-ui-1.8rc3.custom.min.js' %>

    <script>
      $(document).ready(function(){
        $("#login").focus();
      });
    </script>

</head>
  
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="wrapper_header">
                    <div class="header_header">
                        &nbsp;
                    </div>
                    <div class="wrapbranding">
                        <div class="branding">
                            <h1>My Golf Card</h1>
                            <h2>Tarjetas y Puntuaciones</h2>
                        </div>
                    </div>
                    <%= yield %>
                    <div class="footer_header">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="content_wrapper">
                <div class="main_content">

                    <div class="text_box">
                        <h2>My Golf Card</h2>
                        <div id="internal_text" class="presentation">
                            <ul>
                                <li>¿Conoce ya My Golf Card? ¿Le han hablado sus compa&ntilde;eros de esta nueva web de golf? ¿Desea una <a id="dialog4" href="javascript:;" onclick='$("#dialog-modal5").dialog();'>cuenta gratuita</a> en My Golf Card?</li>
                                <li>Si no es as&iacute; no se preocupe, en cuatro preguntas va a entender la nueva forma de continuar disfrutando del golf cuando esté de vuelta en casa conectándose a My Golf Card:</li>
                                <li>
                                    <ol>
                                        <li>¿Es un aficionado al golf y no sabe dónde guardar las tarjetas de cada partido? <a class="masinfo" id="dialog1" href="javascript:;" onclick='$("#dialog-modal1").dialog();' >M&aacute;s info</a> </li>
                                        <li>¿Le gustan las redes sociales y compartir sus experiencias? <a class="masinfo" id="dialog2" href="javascript:;" onclick='$("#dialog-modal2").dialog();' >M&aacute;s info</a> </li>
                                        <li>¿Quiére compartir con sus compañeros de partido los resultados? <a class="masinfo" id="dialog3" href="javascript:;" onclick='$("#dialog-modal3").dialog();' >M&aacute;s info</a> </li>
                                        <li>¿Es un apasionado de las estadísticas y quiere saber cómo evoluciona su juego? <a class="masinfo" id="dialog4" href="javascript:;" onclick='$("#dialog-modal4").dialog();' >M&aacute;s info</a></li>
                                    </ol>
                                </li>
                                <li>En My Golf Card se unen todos estos ingredientes para permitirle conjugar su pasión por el golf y sus ganas de compartir en la red sus ”mejores golpes”.</li>
                                <li>Darse da alta en My Golf Card es totalmente gratuito. Pruébelo desde ahora mismo haciendo clic en este <a id="dialog4" href="javascript:;" onclick='$("#dialog-modal5").dialog();' >enlace</a>.</li>
                            </ul>
                        </div> <!-- end: internal_text -->
                    </div> <!-- end: text-box -->

                </div>
            </div>
            <div class="left">
                &nbsp;
            </div>
            <div class="right">
                &nbsp;
            </div>
            <div class="footer">
                <p>&copy 2010 Eladio Ruiz</p>
            </div>
        </div>


        <div class="demo">

          <div id="dialog-modal1" style="display:none" title="Más información">
            <p>Los que primero solemos sacar de la bolsa de palos los aficionados al gof antes de empezar un buen partido es la consabida tarjeta para apuntar nuestros golpes o los de nuestros compañeros.</p>
            <p>Y por supuesto, en el "Hoyo 19" hacemos recuento a ver si hoy "se nos ha dado mejor". En cualquier caso, una vez acabado este primero momento de emoción, las tarjetas se convierten en otro trozo de cartón con el que no sabemos qué hacer.</p>
            <p>Y tampoco tenemos normalmente una manera sencilla de almacenar estas tarjetas, ya sea de una forma física o en el mundo de internet, de una forma electrónica y accesible desde todo el mundo.</p>
            <p>MyGolfCard le permite guardar de forma electrónica sus tajetas en Internet y consultarlas en cualquier momento. ¡Ya puede deshacerse del cartón!</p>
          </div>

          <div id="dialog-modal2" style="display:none" title="Más información">
            <p>Hoy en día cada vez son más las personas que disfrutan de parte de su tiempo libre compartiendo experiencias, viviencias y otras cosas dentro de una red social.</p>
            <p>A los aficionados al golf nos pasa especialmente con nuestros partidos. Para bien o para mal, nos encanta compartir esa "tarjeta especial" que hemos hecho hoy, especialmente si el partido anterior no se nos dió muy bien.</p>
            <p>En MygolfCard no sólo podrá registrar los golpes de su partido, si no también compartirlo con quién desee: sus compañeros de partido, sus amigos o toda la comunidad de MyGolfCard.</p>
          </div>

           <div id="dialog-modal3" style="display:none" title="Más información">
            <p>Ya sabemos que el golf es un deporte que se juega "contra uno mismo", pero ¿a quién no le gusta comprar su puntuación con las de los compañeros de partido?</p>
            <p>A los aficionados al golf nos pasa especialmente con nuestros partidos. Para bien o para mal, nos encanta compartir esa "tarjeta especial" que hemos hecho hoy, especialmente si el aprtido anterior no se nos dió muy bien.</p>
            <p>En MygolfCard no sólo podrá registrar los golpes de su partido, si no también compartirlo con quién desee: sus compañeros de partido, sus amigos o toda la comunidad de MyGolfCard.</p>
          </div>

           <div id="dialog-modal4" style="display:none" title="Más información">
            <p>Y después de todo nuestro esfuerzo durante el juego, la concentración que hemos puesto hoy y la sensación de haber jugado un "gran partido"... ¿cómo lo hemos hecho realmente?</p>
            <p>¿Hemos "pinchado" en algún hoyo? ¿Mantenemos una regularidad en nuestro últimos partidos? ¿En qué campo solemos jugar más?</p>
            <p>En MygolfCard podrá consultar y analizar toda esta información, porque tendrá disponibles una serie de estadísticas que le permitirá saber cómo evoluciona su juego.</p>
            <p>¿Y no es eso lo que todos los golfistas pretendemos? ¿Saber si conseguimos dominar este juego traidor y a la vez encantador?</p>
          </div>

          <div id="dialog-modal5" style="display:none" title="¿Desea una cuenta en MyGolfCard?">
            <%= render :partial => 'layouts/signup' %>
          </div>

        </div> <!-- demo -->

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-13252939-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>


</body>
</html>
